/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 8 version
*/

.icon-card {
    &.style-three {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background: transparent;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 32px;
        margin-bottom: 50px;

        .icon {
            width: 72px;
            height: 72px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-negative: 0;
                flex-shrink: 0;
            img {
                width: 100%;
            }
        }
        .content {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            gap: 30px;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            .title {
                color: $white;
            }
            .desc {
                color: $white-100;
            }
        }
        @include sm {
            gap: 25px;
            .content {
                gap: 18px;
            }
        }
    }
}