/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 8 version
*/

.recent-post-box{
  margin-bottom: 20px;
  .recent-post{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    .image{ 
      img{
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content; 
        @include transition;
      }
    }
    .recent-icon-box{ 
      .icon-text{
        font-size: 15px;

        @include lg{ 
        font-size: 11px;
        }

        @include sm{
          font-size: 10px;
        }
      } 
    }


    &:hover{
    
      .image{ 
        img{
          -webkit-transform: scale(1.1);
              -ms-transform: scale(1.1);
                  transform: scale(1.1);
        }
      }
      }
    }
  }