/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 8 version
*/

// About Us Area
.about-us-section{
    margin: 50px 0px;
  .about-info{
  background: $white;
  h2{
    span{
      border-bottom: 5px solid $primary-color;
    }

    .color-text{
      color: $primary-color!important;
    }
  }
}
}


 