/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 8 version
*/

.blob-section{

    img{      
        background: $primary-bg-three;
        -webkit-box-shadow: 0px 20px 5px 5px rgba(242, 201, 76, 0.2);
                box-shadow: 0px 20px 5px 5px rgba(242, 201, 76, 0.2);
        -webkit-animation: blob 5s ease-in-out infinite;
                animation: blob 5s ease-in-out infinite;
        -webkit-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
    
        @-webkit-keyframes blob{
            0%{
                border-radius: 60% 40% 30% 70% /60% 
                30% 70% 40%;
            }
            50%{
                border-radius: 30% 60% 70% 40% / 50% 
                60% 30% 60%;
            }
            100%{
                border-radius: 60% 40% 30% 70% / 60%
                 30% 70% 40%;
            }
        }
    
        @keyframes blob{
            0%{
                border-radius: 60% 40% 30% 70% /60% 
                30% 70% 40%;
            }
            50%{
                border-radius: 30% 60% 70% 40% / 50% 
                60% 30% 60%;
            }
            100%{
                border-radius: 60% 40% 30% 70% / 60%
                 30% 70% 40%;
            }
        }
    }
}