/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 8 version
*/

.history-upper{ 
    height: 600px; 
    width: 100%;  
    background: $white; 
    z-index: -1;
    position: inherit;
  
  
    @include sm{
    height: 900px; 
    }
  
  
      .content-and-icon{
        padding: 2rem;
        margin-top: 100px;
        text-align: center;
        @include sm{
            margin-top: 0px;
            padding: 1rem;
            text-align: center;
        }
        .icon{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: end;
                -ms-flex-pack: end;
                    justify-content: end;
            @include sm{
              -webkit-box-pack: start;
                  -ms-flex-pack: start;
                      justify-content: start;
            }
            .icn{
                i{
                    width: 6.5rem;
                    height: 6.5rem;
                    padding: 40px 50px;
                    font-size: 30px;
                    border-radius:50%;
                    color: $white;
                    background: -webkit-gradient(linear, left top, right top, from(#632A2C), to($primary-color));
                    background: -o-linear-gradient(left, #632A2C, $primary-color);
                    background: linear-gradient(to right, #632A2C, $primary-color);
  
                    @include sm{
                        font-size: 30px;
                        color: $white;
                        
                    }
                  }     
  
                .border-animation{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 6.5rem;
                    height: 6.5rem;
                    color: $black;
                    border: 0.55rem solid $primary-color;
                    border-radius: 50%;
                    -webkit-animation: pulseBorder 2s linear infinite;
                            animation: pulseBorder 2s linear infinite;
  
  
                    &--border-1{
                        -webkit-animation-delay: 1.5s;
                                animation-delay: 1.5s;
                    }
  
                    &--border-2{
                        -webkit-animation-delay: 2s;
                                animation-delay: 2s;
                    }
                }
                
            }
        }
  
        .content{
            p{
                font-family: 'Manrope';
                font-size: 16px;
                font-weight: 400;
                line-height: 29px;
                letter-spacing: 0em;
                text-align:right;
                color: #FFFFFF;
  
                @include sm{
                    font-size: 13px;
                    text-align: center;
  
                }
              }
        }
      }
  
  }
  
  
  // PULSE BORDER
  @keyframes pulseBorder{
    0%{
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
    100%{
        -webkit-transform: scale(1.5);
            -ms-transform: scale(1.5);
                transform: scale(1.5);
        opacity: 0;
    }
  }
   
  